@custom-media --extraSmall (min-width: 30em);
@custom-media --small (min-width: 48em);
@custom-media --medium (min-width: 60em);
@custom-media --large (min-width: 80em);
@custom-media --extraLarge (min-width: 100em);