@keyframes boom {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, -6deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 6deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -6deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.ckd-boom {
  &:checked {
    animation: boom 0.8s;
  }
}
