
@keyframes flush {
  from {
    transform-origin: center;
    opacity: 1;
  }

  60% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -1200deg) scale(0);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 0deg) scale(1);
    opacity: 1;
  }
}

.ckd-flush {
  will-change: transform;

  &:checked {
    animation: flush 0.7s cubic-bezier(0.315, 0.960, 0.515, 0.990);
  }
}
