@keyframes vibration {
    50% {
      transform: skewY(3deg) skewX(-3deg) scale(1.2);
    }
}

.ckd-vibration {
  will-change: transform;

  &:checked {
    animation: vibration 0.1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}
