@keyframes zoom {
  50% {
    transform: scale(2);
    filter: blur(1px);
  }

  80% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: none;
    filter: none;
    opacity: 1;
  }
}

.ckd-zoom {
  will-change: transform;

  &:checked {
    animation: zoom 0.4s cubic-bezier(0.075, 0.82, 0.765, 1.015);
  }
}
