@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='boom'] {
  &:checked,
  &[aria-checked='true'] {
    animation: boom 0.8s $standard-curve 1;
  }
}

@keyframes boom {
  10%,
  20% {
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -6deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 6deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -6deg);
  }
}
