@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='flag'] {
  &:checked,
  &[aria-checked='true'] {
    animation: flag 0.6s $standard-curve 1;
  }
}

@keyframes flag {
  0% {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
}
