@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='flip'] {
  &:checked,
  &[aria-checked='true'] {
    animation: flip 0.6s $standard-curve;
  }
}

@keyframes flip {
  0% {
    transform:
      translateX(100%)
      perspective(600px)
      rotateY(-180deg);
    opacity: 0;
  }
}
