@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='ghost'] {
  &:checked,
  &[aria-checked='true'] {
    animation: ghost 0.3s $decelerate-curve 1;
  }
}

@keyframes ghost {
  0% {
    transform: scaleY(0.2) translateY(100%);
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    transform: none;
    filter: none;
    opacity: 1;
  }
}
