@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='pepe'] {
  &:checked,
  &[aria-checked='true'] {
    animation: pepe 0.6s $standard-curve infinite;
  }
}

@keyframes pepe {
  0%,
  33%,
  66%,
  100% {
    transform: rotate(4deg);
  }

  16%,
  50%,
  83% {
    transform: rotate(-4deg);
  }
}
