@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='pulse'] {
  &:checked,
  &[aria-checked='true'] {
    animation: pulse 0.8s $standard-curve infinite;
  }
}

@keyframes pulse {
  14%,
  42% {
    transform: scale(1.3);
  }

  28%,
  70% {
    transform: scale(1);
  }
}
