@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='rollin'] {
  &:checked,
  &[aria-checked='true'] {
    animation: rollin 0.7s $standard-curve;
  }
}

@keyframes rollin {
  0% {
    opacity: 0;
    transform:
      translate3d(-100%, 0, 0)
      rotate3d(0, 0, 1, -120deg);
  }

  100% {
    transform: none;
  }
}
