@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='smokin'] {
  &:checked,
  &[aria-checked='true'] {
    animation: smokin 0.5s 1 $decelerate-curve;
  }
}

@keyframes smokin {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.3);
  }
}
