@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='splash'] {
  &:checked {
    animation: splash 0.8s $decelerate-curve;
  }
}

@keyframes splash {
  0% {
    transform: scale(0.3);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(0.9);
  }

  60% {
    opacity: unset;
    transform: scale(1.03);
  }

  80% {
    transform: scale(0.97);
  }

  100% {
    transform: none;
  }
}
