@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='up'] {
  &:checked,
  &[aria-checked='true'] {
    animation: up 0.15s $standard-curve 1;
    animation-fill-mode: forwards;
  }
}

@keyframes up {
  100% {
    transform: translateY(-10px);
  }
}
