@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='vibration'] {
  &:checked {
    animation: vibration 0.1s $standard-curve infinite;
  }
}

@keyframes vibration {
  50% {
    transform:
      skewY(3deg)
      skewX(-3deg)
      scale(1.2);
  }
}
