@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='yo'] {
  &:checked,
  &[aria-checked='true'] {
    animation: yo 0.15s $standard-curve;
    animation-fill-mode: forwards;
  }
}

@keyframes yo {
  100% {
    transform:
      rotate(-45deg)
      translateZ(0);
  }
}
