@import '../../configs/_variables.config';
@import '../../configs/_base.config';

[data-ckd='yo'] {
  transition: transform 0.15s $standard-curve;

  &:checked,
  [aria-checked='true'] {
    transform:
      rotate(-45deg)
      translateZ(0);
  }
}
