@keyframes boing {
  0% {
    transform: translateY(3px) scaleY(0.8);
  }

  50% {
    transform: translateY(-10px);
  }

  90% {
    opacity: 0.7;
    transform: translateY(2px) scale(1.5, 0.5);
  }

  100% {
    transform: none;
  }
}

.ckd-boing {
  will-change: transform;

  &:checked, [aria-checked="true"] {
    animation: boing 0.2s ease-in-out;
    animation-iteration-count: 3;
  }
}
