@keyframes flag {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.ckd-flag {
  will-change: transform;

  &:checked, [aria-checked="true"] {
    animation: flag 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
