@keyframes ghost {
  from {
    transform: scaleY(0.2) translateY(350%);
    text-shadow: 0 0 10px rgba(167, 81, 203, 0.6), 0 0 30px rgba(167, 81, 203, 0.4), 0 0 50px rgba(167, 81, 203, 0.3), 0 0 180px rgba(167, 81, 203, 0.3);
    color: transparent;
    filter: blur(20px);
    opacity: 0;
  }

  20% {
    text-shadow: 0 0 10px rgba(167, 81, 203, 0.6), 0 0 30px rgba(167, 81, 203, 0.4), 0 0 50px rgba(167, 81, 203, 0.3), 0 0 180px rgba(167, 81, 203, 0.3);
    color: transparent;
  }

  to {
    filter: none;
    opacity: 1;
  }
}

.ckd-ghost {
  will-change: transform;

  &:checked, [aria-checked="true"] {
    animation: ghost 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
