
@keyframes jump {

  50% {
    transform: scale(0.6) translateY(-10px);
  }

  70% {
    transform: scale(0.8) translateY(-5px);
  }

  90% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: none;
  }
}

.ckd-jump {
  will-change: transform;

  &:checked, [aria-checked="true"] {
    animation: jump 0.35s linear;
  }
}
