@keyframes pepe {
  from, 33%, 66%, to {
    transform: rotate(4deg);
  }

  16%, 50%, 83% {
    transform: rotate(-4deg);
  }
}

.ckd-pepe {
  will-change: transform;

  &:checked, [aria-checked="true"] {
    animation: pepe 0.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}
