@keyframes pulse {
  14%, 42% {
    transform: scale(1.3);
  }

  28%, 70% {
    transform: scale(1);
  }
}

.ckd-pulse {
  will-change: transform;

  &:checked, [aria-checked="true"] {
    animation: pulse 0.8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}
