
@keyframes rewind {

  0% {

    transform: scale(0.3) translateX(7px);
  }

  50% {
    transform: skewX(-30deg) scale(0.8) rotate(0deg) translateX(-7px);
    filter: blur(0.5px);
  }

  90% {
    transform: skewX(30deg) rotate(0deg);
  }
}

.ckd-rewind {
  will-change: transform;

  &:checked, [aria-checked="true"] {
    animation: rewind 0.25s cubic-bezier(0.03, 0.61, 0.17, 0.97);
    animation-iteration-count: 1;
  }
}
