@keyframes smokin {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.ckd-smokin {
  will-change: transform;

  &:checked {
    animation: smokin 0.5s;
  }
}
