
@keyframes hey {

  99% {
    transform: scale(1.5);
    filter: blur(20px);
  }

  100% {
    transform: none;
    filter: none;
  }
}

.checkbox-hey {
  &:checked {
    animation: hey 0.7s cubic-bezier(0.190, 1.000, 0.515, 1.000);
  }
}
