
@keyframes hey {

  99% {
    transform: scale(1.5);
    filter: blur(20px);
  }

  100% {
    transform: none;
    filter: none;
  }
}

.checkbox-hey {
  will-change: transform;

  &:checked {
    animation: hey 0.4s linear;
  }
}
